<div>
    <form id="login-form">
        <h3 class="text-info">Login</h3>
            <div>
                <label for="username-login">username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Login</button>
            </div>
        <div>
            <a href="/signup" class="text-info">Please Signup</a>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>