<div>
    <form class="signup-form">
        <h3>Sign Up</h3>
        <p>Your password must be at least 4 characters long.</p>
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
            <div>
                <a href="/login" class="text-info">Please Login</a>
            </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>